name: CI
on:
  push:
    branchs: [secrets]


jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NODE_VERSION: 24
    steps:
      - name: Print node version
        run: echo "Node version:  ${{env.NODE_VERSION}}"